// font-family: 'Lato', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Satisfy', cursive; X
// font-family: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Permanent Marker', cursive;

$headerFont: 'Montserrat', sans-serif;
$paragraphFont: 'Open Sans', sans-serif;
$restaurantFont: 'Lato', sans-serif;
$linkFont: 'Josefin Sans', sans-serif;
$errorFont: 'Oswald', sans-serif;
$searchFont: 'Permanent Marker', cursive;

$mediumGrey: #b2b2b2;